# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [33]:
city_data = "output_data/city_data.csv"
city_data
city_data = pd.read_csv("city_data.csv")
city_data.head()
city_data.dropna(inplace = True) 
city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,lat,Lng,max_temp,Wind Speed
0,0,albany,40.0,US,1.587837e+09,25.0,42.60,-73.97,64.00,4.70
1,1,vanimo,38.0,PG,1.587837e+09,83.0,-2.67,141.30,79.65,5.75
2,2,iqaluit,90.0,CA,1.587837e+09,92.0,63.75,-68.51,32.00,11.41
3,3,port alfred,31.0,ZA,1.587837e+09,91.0,-33.59,26.89,61.00,4.00
4,4,belushya guba,63.0,RU,1.587838e+09,51.0,59.70,30.79,37.99,11.18

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
# Store latitude and longitude in locations
locations = city_data[["lat", "Lng"]]

# Fill NaN values and convert to float
humidity = city_data["Humidity"].astype(float)

In [35]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
city_data.dropna(how='all', inplace=True) 
city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,lat,Lng,max_temp,Wind Speed
0,0,albany,40.0,US,1.587837e+09,25.0,42.60,-73.97,64.00,4.70
1,1,vanimo,38.0,PG,1.587837e+09,83.0,-2.67,141.30,79.65,5.75
2,2,iqaluit,90.0,CA,1.587837e+09,92.0,63.75,-68.51,32.00,11.41
3,3,port alfred,31.0,ZA,1.587837e+09,91.0,-33.59,26.89,61.00,4.00
4,4,belushya guba,63.0,RU,1.587838e+09,51.0,59.70,30.79,37.99,11.18

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df = city_data

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map